/* ExpenseItem.css */

.expense-item {
    background: linear-gradient(45deg, #9575CD, #D1C4E9); /* Light purple gradient */
    color: black;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px; /* Added gap between columns */
}

.expense-name {
    flex: 0.2;
    text-align: left;
    margin: 0 15px; /* Separate margin for expense-name */
}

.expense-cost {
    flex: 0.3;
    text-align: left;
    margin: 2px; /* Separate margin for expense-cost */
}

.expense-buttons {
    flex: 0.6;
    text-align: left;
    margin-left: 20px; /* Margin to the left for expense-buttons */
    margin-right: 50px; /* Margin to the right for expense-buttons */
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.expense-icon {
    font-size: 30px;
    cursor: pointer;
}

.expense-icon.increase {
    color: green;
}

.expense-icon.decrease {
    color: rgb(98, 12, 12);
}

.expense-icon.delete {
    background-color: rgba(245, 185, 229, 0);
    color: rgba(211, 6, 6, 0.573);
    border-radius: 5px;
}

/* Mobile styles */
@media (max-width: 600px) {
    .expense-item {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px; /* Adjusted gap for mobile */
    }

    .expense-name, .expense-cost, .expense-buttons {
        width: 50%;
        text-align: left;
        margin: 0; /* Removed margin for mobile */
    }

    .expense-buttons {
        justify-content: flex-start;
        gap: 5px;
    }
}
