/* ExpenseItem.css */

.expense-item {
    background: linear-gradient(45deg, #9575CD, #D1C4E9); /* Light purple gradient */
    color: black;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.expense-name {
    flex: 0.15; /* Adjust flex for better spacing */
    text-align: left;
    margin-right: 0px; /* Add margin for spacing */
}

.expense-cost {
    flex: 0.2; /* Adjust flex for better spacing */
    text-align: left;
    margin-left: 0px; /* Add margin for spacing */
}

.expense-buttons {
    flex: 0.51; /* Adjust flex for better spacing */
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.expense-icon {
    font-size: 30px;
    cursor: pointer;
}

.expense-icon.increase {
    color: green;
}

.expense-icon.decrease {
    color: brown;
}

.expense-icon.delete {
    background-color: rgb(246, 182, 229);
    color: rgb(0, 0, 0);
    border-radius: 5px;
}

/* Mobile styles */
@media (max-width: 600px) {
    .expense-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .expense-name, .expense-cost, .expense-buttons {
        width: 100%;
        text-align: left;
        margin-left: 0;
    }

    .expense-buttons {
        justify-content: flex-start;
        gap: 10px;
    }
}
