/* ExpenseList.css */

/* Style for table headers */
.table th, .table td {
    padding: 7px;
    text-align: left;
    border: none; /* Remove the border */
}

/* Mobile styles */
@media (max-width: 600px) {
    .table thead {
        display: none;
    }

    .table, .table tbody, .table tr, .table td {
        display: block;
        width: 100%;
        border: none; /* Remove the border */
    }

    .table tr {
        margin-bottom: 10px;
    }

    .table td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        width: 50%;
        padding-right: 10px;
        text-align: left;
        font-weight: bold;
    }
}
