/* General Styles */
.container {
    background: linear-gradient(45deg, #9575CD, #D1C4E9);
    color: rgb(63, 1, 1);
    padding: 9px 5px 0px 7px;
    border-radius: 10px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.548);
    font-weight: bold;
  }
  
  #footer {
    text-align: center;
    margin-left: 6rem;
  }
  
  /* Box Styles */
  .box {
    background: linear-gradient(45deg, #6a1b9a, black);
    color: white;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    max-width: 400px;
    margin: 20px auto;
  }
  
  .box-budget {
    padding: 20px;
    display: flex;
    align-items: center;
  }
  
  /* Header Box Style */
  .header-box {
    background: transparent;
    color: rgb(0, 0, 0);
    padding: 20px 15px 0 15px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.308);
    border: 1px solid rgba(16, 1, 44, 0);
    height: 5rem;
  }
  
  .budgetAllcCont {
    background-color: #69078f00;
    color: rgb(63, 1, 1);
    padding: 9px 5px 0px 7px;
    border-radius: 10px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.548);
  }
  
  .costarea {
    display: flex;
  }
  
  #inputGroupSelect02,
  #inputGroupSelect01 {
    width: 10rem;
    border-radius: 0.3rem;
    height: 2rem;
    background-color: #d8c8e2;
    margin: 0 1.4rem 0 0;
  }
  
  #cost {
    width: 10rem;
    margin: 0 0.1rem 0 0.2rem;
  }
  
  .location {
    margin: 0 0 0 0.1rem;
    font-size: 1.5rem;
  }
  
  .input-group-text {
    width: 7rem;
    border-radius: 0.3rem;
    height: 2rem;
  }
  
  .budgetAllcCont h5 {
    text-align: center;
  }
  
  /* Table Styles */
  .table {
    width: 100%;
  }
  
  .table th,
  .table td {
    padding: 2px;
    text-align: left;
    border: none;
    margin-right: 5px;
    color: black;
  }
  
  /* Label Styles */
  .label {
    margin-bottom: 10px;
    margin-right: 10px;
  }
  
  /* Input Styles */
  .input {
    padding: 5px;
    border: none;
    border-radius: 5px;
    width: 100px;
    font-weight: bold;
  }
  
  /* Button Styles */
  .button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #68078f, rgb(7, 1, 39), #68078f);
    border: 1px solid rgb(117, 71, 138);
    color: white;
    cursor: pointer;
  }
  
  .btn-button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #68078f, rgb(7, 1, 39), #68078f);
    border: 1px solid rgb(255, 255, 255);
    color: white;
    cursor: pointer;
  }
  
  /* Warning Styles */
  .warning {
    color: yellow;
    margin-left: 10px;
  }
  
  .expense-item {
    background: linear-gradient(45deg, #9575CD, #D1C4E9);
    color: black;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.39);
    border: 1px solid rgba(224, 221, 230, 0.418);
  }
  
  .expense-name {
    flex: 0.2;
    text-align: left;
    margin: 0 15px;
  }
  
  .expense-cost {
    flex: 0.3;
    text-align: left;
    margin: 2px;
  }
  
  .expense-buttons {
    flex: 0.6;
    text-align: left;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .expense-icon {
    font-size: 30px;
    cursor: pointer;
  }
  
  .expense-icon.increase {
    color: green;
  }
  
  .expense-icon.decrease {
    color: rgb(98, 12, 12);
  }
  
  .expense-icon.delete {
    background-color: rgba(245, 185, 229, 0);
    color: rgba(211, 6, 6, 0.573);
    border-radius: 5px;
  }
  
  /* Mobile Styles */
  @media (max-width: 600px) {
    .table thead {
      display: block;
    }
  
    .table,
    .table tbody,
    .table tr,
    .table td {
      display: block;
      width: 100%;
      border: none;
    }
  
    .table tr {
      margin-bottom: 10px;
    }
  
    .table th {
      text-align: center;
      padding-top: 20px;
    }
  
    .table td {
      text-align: right;
      position: relative;
    }
  
    .table td::before {
      content: attr(data-label);
      position: absolute;
      left: 10px;
      width: 40%;
      padding-right: 10px;
      text-align: left;
      font-weight: bold;
    }
  
    .expense-item {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      border: 1px solid #ffffff57;
      gap: 2rem;
      font-weight: bold;
    }
  
    .expense-name {
      flex: 1;
    }
  
    .expense-cost {
      flex: 1;
      text-align: right;
    }
  
    .expense-buttons {
      display: flex;
      gap: 2.5rem;
    }
  
    .expense-icon {
      cursor: pointer;
    }
  
    .expense-icon.decrease,
    .expense-icon.increase {
      margin-top: 0.5rem;
    }
  
    .header-box {
        background: transparent;
        color: rgb(36, 6, 6);
        padding: 2px 1px 0 1px;
        border-radius: 10px;
        box-shadow: 0 15px 10px rgba(0, 0, 0, 0.308);
        border: 1px solid rgba(16, 1, 44, 0);
        height: 5rem;
        width: 99%;
    }
  
    .containers {
      width: 25rem;
      font-weight: bold;
    }

    .container {
        display: flex; /* or display: block; */
        justify-content: center; /* For Flexbox */
    }
  
    .budgetAllcCont {
      display: block;
      background-color: #69078f00;
      border-radius: 8px;
      padding: 1rem;
      box-shadow: 0 20px 20px rgba(0, 0, 0, 0.541);
      width: 25rem;
      font-weight: bold;
      
    }
  
    .row {
      display: flex;
      flex-direction: column;
    }
  
    .input-group {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 1rem;
      width: 40rem;
      border-radius: 1rem;
      font-weight: bold;
    }
  
    .input-group-prepend {
      margin-top: 1rem;
      border-radius: 1rem;
    }
  
    #inputGroupSelect02,
    #inputGroupSelect01 {
      width: 20rem;
      border-radius: 0.5rem;
      height: 2rem;
      background-color: #d8c8e2;
      align-self: center;
      margin: 0 0 0 0;

      
    }
  
    .input-group-text {
      width: 20rem;
      border-radius: 0.5rem;
      height: 2rem;
      font-weight: bold;
    }
  
    .location {
      margin-top: 1rem;
      margin-bottom: -1rem;
      font-size: 1.5rem;
      margin-right: 0.5rem;
    }
  
    .costarea {
      display: flex;
    }
  
    #cost {
      width: 15rem;
      margin-top: 1rem;
      border-radius: 0.3rem;
    }
  
    .btn-button {
      color: white;
      border: none;
      padding: 0.5rem;
      cursor: pointer;
      width: 20rem;
      margin-top: 0.5rem;
      border-radius: 0.7rem;
    }
  }
  